<md-card>
		<div layout="row" style="padding: 5px;">
			<div flex layout="column" ng-show="!contact.editContactForm" style="padding: 15px 0px 0px 10px;">
				<span class="cardTitle">{{contact.FirstName}} {{contact.LastName}} {{contact._id}}</span>
			</div>
			<div flex layout="row" ng-show="contact.editContactForm">
				<md-input-container class="noMargin" layout="row">
					<input type="text" ng-model="copyContact.FirstName" placeholder="">
				</md-input-container>
				<md-input-container class="noMargin">
					<input type="text" ng-model="copyContact.LastName" placeholder="">
				</md-input-container>
			</div>
			<div class="contactError" ng-show="contactEditErrorMsg">
				<span>{{contactEditErrorMsg}}</span>
			</div>
			<div>
				<md-button class="md-raised" ng-show="!contact.editContactForm" ng-click="contact.editContactForm=true; copyContact=contact;">Edit</md-button>
				<md-button class="md-raised" ng-show="contact.editContactForm" ng-click="updateContact(contact)">Save</md-button>
			</div>
		</div>
		<!--MAIN CARD BODY-->
	<md-card-content style="padding-top: 0px;">
		<md-divider></md-divider>
		<div layout="row">
			<!--CARD DETAILS 1-->
			<div flex>
				<div layout="row" style="padding: 5px;">
					<div flex layout="column">
						<div ng-show="!contact.editContactForm" layout="row" style="padding-bottom: 5px;">
							{{contact.JobTitle}}
						</div>
						<div layout="row" ng-show="contact.editContactForm">
						<md-input-container class="noMargin" layout="row">
							<input type="text" ng-model="copyContact.JobTitle" placeholder="">
						</md-input-container>
						</div>
						<div>
							{{contact.Address}}
						</div>
					</div>
					<!--flex="25" means 25%-->
					<div flex="20">
						<label class="cardLabel" layout="row">
							Birthday
						</label>
						<div ng-show="!contact.editContactForm">
							{{contact.Birthday.Month}} {{contact.Birthday.Day}}
						</div>
						<div layout="row" ng-show="contact.editContactForm">
							<md-select class="noMargin" ng-model="copyContact.Birthday.Month" placeholder="MM">
								<md-option ng-value="opt" ng-repeat="opt in monthMap">{{opt}}</md-option>
							</md-select>
							<md-select class="noMargin" ng-model="copyContact.Birthday.Day" placeholder="DD">
								<md-option ng-value="opt" ng-repeat="opt in dateMap">{{opt}}</md-option>
							</md-select>
						</div>
					</div>
				</div>
				<md-divider></md-divider>
				<div layout="column" style="padding: 5px;">
					<div layout="row">
						<div flex="40" layout="column" style="padding-right: 5px;">
							<span class="cardLabel">Email</span>
							<div ng-show="!contact.editContactForm" class="truncate">
								<a href=https://mail.google.com/mail/u/0/?view=cm&fs=1&to={{contact.Email}}&subject=Subject&tf=1" target="_blank">{{contact.Email}}</a>
							</div>
							<div layout="row" ng-show="contact.editContactForm">
								<md-input-container class="noMargin" layout="row">
									<input type="text" ng-model="copyContact.Email" placeholder="">
								</md-input-container>
							</div>
						</div>
						<div flex layout="row">
							<div flex>
								<label class="cardLabel" layout="row">Type</label>
								<div layout="row" ng-show="!contact.editContactForm">{{contact.Phone.Type}}</div>
								<md-input-container class="noMargin" layout="row" ng-show="contact.editContactForm">
									<input type="text" ng-model="copyContact.Phone.Type" placeholder="">
								</md-input-container>
							</div>
							<div flex>
								<label class="cardLabel" layout="row">Extension</label>
								<div layout="row" ng-show="!contact.editContactForm">{{contact.Phone.Extension}}</div>
								<md-input-container class="noMargin" layout="row" ng-show="contact.editContactForm">
									<input type="text" ng-model="copyContact.Phone.Extension" placeholder="">
								</md-input-container>
							</div>
							<div flex>
								<label class="cardLabel" layout="row">Number</label>
								<div layout="row" ng-show="!contact.editContactForm">{{contact.Phone.Number}}</div>
								<md-input-container class="noMargin" layout="row" ng-show="contact.editContactForm">
									<input type="text" ng-model="copyContact.Phone.Number" placeholder="">
								</md-input-container>
							</div>
						</div>
					</div>
				</div>
				<md-divider></md-divider>
				<div style="padding: 5px;">
					<label class="cardLabel" layout="row">
						LoBs
					</label>
					<div>
						{{contact.OPCO}}
					</div>
				</div>
			</div>
			<!--CARD DETAILS 2 END-->
			<!--BLANK SEPARATOR-->
			<div layout="column" style="width: 40px;"></div>
			<!--BLANK SEPARATOR END-->
			<!--CARD DETAILS 2-->
			<div style="width: 150px; padding: 5px;">
				<div layout="column" style="padding: 5px;">
					<label class="cardLabel" layout="row">
						Call
					</label>
					<div ng-init="contact.Connect.Call = formatConnect(contact.Connect.Call)" ng-if="contact.Connect.Call">
						{{contact.Connect.Call}}
					</div>
				</div>
				<div layout="column" style="padding: 5px;">
					<label class="cardLabel" layout="row">
						Visit
					</label>
					<div ng-init="contact.Connect.Visit = formatConnect(contact.Connect.Visit)" ng-if="contact.Connect.Visit">
						{{contact.Connect.Visit}}
					</div>
				</div>
			</div>
			<!--CARD DETAILS 2 END-->
		</div>
	</md-card-content>
	<!--MAIN CARD BODY END-->
</md-card>