<md-card>
		<div layout="row" style="padding: 5px;">
			<div flex layout="column" ng-show="!editContactForm" style="padding: 15px 0px 0px 10px;">
				<span class="cardTitle">{{contact.FirstName}} {{contact.LastName}} {{contact._id}}</span>
			</div>
			<div flex layout="row" ng-show="editContactForm">
				<md-input-container class="noMargin" layout="row">
					<input type="text" ng-model="copyContact.FirstName" placeholder="">
				</md-input-container>
				<md-input-container class="noMargin">
					<input type="text" ng-model="copyContact.LastName" placeholder="">
				</md-input-container>
			</div>
			<div class="contactError" ng-show="contactEditErrorMsg">
				<span>{{contactEditErrorMsg}}</span>
			</div>
			<div>
				<md-button class="md-raised" ng-show="!editContactForm" ng-click="editContactForm=true; copyContact=contact; test()">Edit</md-button>
				<md-button class="md-raised" ng-show="editContactForm" ng-click="updateContact(contact)">Save</md-button>
			</div>
		</div>
		<!--MAIN CARD BODY-->
	<md-card-content style="padding-top: 0px;">
		<md-divider></md-divider>
		<div layout="row">
			<!--CARD DETAILS 1-->
			<div flex>
				<div layout="row" style="padding: 5px;">
					<div flex layout="column">
						<div ng-show="!editContactForm" layout="row" style="padding-bottom: 5px;">
							{{contact.JobTitle}}
						</div>
						<div layout="row" ng-show="editContactForm">
						<md-input-container class="noMargin" layout="row">
							<input type="text" ng-model="copyContact.JobTitle" placeholder="">
						</md-input-container>
						</div>
						<div>
							{{contact.Address}}
						</div>
					</div>
					<!--flex="25" means 25%-->
					<div flex="20">
						<label class="cardLabel" layout="row">
							Birthday
						</label>
						<div ng-show="!editContactForm">
							{{contact.Birthday}}
						</div>
						<div layout="row" ng-show="editContactForm">
							<md-select class="noMargin" ng-model="updatedBirthday.month" placeholder="MM">
								<md-option ng-value="opt" ng-repeat="opt in monthMap">{{opt}}</md-option>
							</md-select>
							<md-select class="noMargin" ng-model="updatedBirthday.day" placeholder="DD">
								<md-option ng-value="opt" ng-repeat="opt in dateMap">{{opt}}</md-option>
							</md-select>
						</div>
					</div>
				</div>
				<md-divider></md-divider>
				<div layout="column" style="padding: 5px;">
					<div layout="row">
						<div flex="40" layout="column" style="padding-right: 5px;">
							<span class="cardLabel">Email</span>
							<div ng-show="!editContactForm" class="truncate">
								<a href=https://mail.google.com/mail/u/0/?view=cm&fs=1&to={{contact.Email}}&subject=Subject&tf=1" target="_blank">{{contact.Email}}</a>
							</div>
							<div layout="row" ng-show="editContactForm">
								<md-input-container class="noMargin" layout="row">
									<input type="text" ng-model="copyContact.Email" placeholder="">
								</md-input-container>
							</div>
						</div>
						<div flex ng-if="contact.Phone" ng-repeat="(phoneKey, phoneVal) in contact.Phone">
								<label class="cardLabel" layout="row">
									{{phoneKey}}
								</label>
								<div ng-show="!editContactForm">
									{{phoneVal}}
								</div>
								<div layout="row" ng-show="editContactForm">
									<md-input-container class="noMargin" layout="row">
										<input type="text" ng-model="phoneVal" placeholder="">
									</md-input-container>
								</div>
						</div>
					</div>
				</div>
				<md-divider></md-divider>
				<div style="padding: 5px;">
					<label class="cardLabel" layout="row">
						LoB
					</label>
					<div>
						{{contact.OPCO}}
					</div>
				</div>
			</div>
			<!--CARD DETAILS 2 END-->
			<!--BLANK SEPARATOR-->
			<div layout="column" style="width: 40px;"></div>
			<!--BLANK SEPARATOR END-->
			<!--CARD DETAILS 2-->
			<div style="width: 150px; padding: 5px;">
				<div layout="column" style="padding: 5px;">
					<label class="cardLabel" layout="row">
						Call
					</label>
					<div ng-init="contact.Connect.Call = formatConnect(contact.Connect.Call)" ng-if="contact.Connect.Call">
						{{contact.Connect.Call}}
					</div>
				</div>
				<div layout="column" style="padding: 5px;">
					<label class="cardLabel" layout="row">
						Visit
					</label>
					<div ng-init="contact.Connect.Visit = formatConnect(contact.Connect.Visit)" ng-if="contact.Connect.Visit">
						{{contact.Connect.Visit}}
					</div>
				</div>
			</div>
			<!--CARD DETAILS 2 END-->
		</div>
	</md-card-content>
	<!--MAIN CARD BODY END-->
</md-card>