<md-card>
	<!--MAIN CARD BODY-->
	<md-card-content>
		<div layout="column">
			FirstName LastName
		</div>
		<md-divider></md-divider>
		<div layout="row">
			<!--CARD DETAILS 1-->
			<div flex style="height: 150px;">
				<div layout="row">
					<div layout="column">
						<div layout="row" class="width-">
							JobTitle
						</div>
						<div>
							Address
						</div>
					</div>

					<div>
						<div layout="row">
							Birthday
						</div>
						<div>
							BIRTHDAY HERE
						</div>
					</div>
				</div>
				<div layout="column">
					<div layout="row">
						TEST
					</div>
					<div>
						TEST
					</div>
				</div>
				<div>
					<div layout="row">
						TEST2
					</div>
					<div>
						TEST2
					</div>
				</div>
			</div>
			<!--CARD DETAILS 2 END-->
			<!--BLANK SEPARATOR-->
			<div layout="column" style="width: 40px; height: 150px;"></div>
			<!--BLANK SEPARATOR END-->
			<!--CARD DETAILS 2-->
			<div style="width: 150px; height: 150px; padding: 5px; font-size: 14px;">
				<div layout="column">
						<label layout="row">
							Digital
						</label>
						<div>
							Tuesday | July 10, 2018
						</div>
				</div>
				<div layout="column">
					<div layout="row">
						Call
					</div>
					<div>
						Friday | August 25, 2017
					</div>
				</div>
				<div layout="column">
					<div layout="row">
						Visit
					</div>
					<div>
						Thursday | December 12, 2016
					</div>
				</div>
			</div>
			<!--CARD DETAILS 2 END-->
		</div>
	</md-card-content>
	<!--MAIN CARD BODY END-->
</md-card>