

body {
	font-family: 'Roboto';
}

input {
	font-style: italic;
}

.contactList {
	padding: 5px;
	background-color: #DFDFDF;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 0;
	max-width: 500px;
}

.cardLabel {
	color: rgba(0,0,0,0.54);
	padding-bottom: 5px;
}

.cardTitle {
	font-size: 18px;
	font-weight: bold;
}

.noMargin {
	margin: 0;
}